* {
	 box-sizing: border-box;
}
 body {
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 background: #3498db;
}
 .search-wrapper {
	 position: relative;
	 background: #1d6fa5;
	 border-radius: 20px;
	 transform-origin: 100% 50%;
	 width: 40px;
	 height: 40px;
	 cursor: pointer;
	 transition: 250ms ease;
}
 .search-wrapper.focused {
	 width: 200px;
}
 .search-wrapper.focused input {
	 padding: 0 40px 0 13px;
	 width: 100%;
	 transform: scale(1);
}
 .search-wrapper input {
	 background: transparent;
	 border: 0;
	 color: white;
	 outline: none;
	 height: 40px;
	 width: 0;
	 overflow: hidden;
	 font-weight: 100;
	 transform: scale(0);
	 transform-origin: 0 50%;
	 transition: 275ms ease;
}
 .search-wrapper input::placeholder {
	 color: #ccc;
}
 .search-wrapper i {
	 position: absolute;
	 color: white;
	 font-size: 18px;
	 top: 50%;
	 right: 13px;
	 transform: translateY(-50%);
}
 

.fail {
  position: absolute;
  color: white;
  font-size: 28px;
  z-index:-1;
}


 aside {
	 float: left;
	 width: 20%;
         color: #8b9dc3;
	 padding: 2%;
	 background-color: #dfe3ee;
}
 .sticky {
	 position: absolute;
	 top: 0;
         left: 0;
         height: 100%;
         min-height: 850px;
}